h1 {
    text-align: center;
    color: rgb(39, 103, 221);
    padding: 0%;
    top: 50%;
    width: max-content;
    font-size: medium;
}

ion-content {
    --ion-background-color: linear-gradient(#f5dda9, #8bb88e);
}