<ion-header>
    <ion-toolbar>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <H1></H1>
        <img src="assets/register.jpg" width="200px">
    </div>

    <form #formDonnee="ngForm" (ngSubmit)="register(formDonnee)">
        <ion-list>
            <ion-item>
                <ion-label>Nom utilisateur</ion-label>
                <ion-input type="text" placeholder="username" ngModel name="username"></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input type="email" placeholder="Adresse email" ngModel name="usermail"></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label color="">Mot de passe</ion-label>
                <ion-input color="#OcObOb" type="password" placeholder="Mot de passe" ngModel name="password"></ion-input>
            </ion-item>
        </ion-list>

        <ion-button type="submit" expand="block">INSCRIRE</ion-button>
    </form>
</ion-content>