<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

    <div id=header>

        <img src="assets/login.jpg" width="50px">

    </div>
    <form #formDonnee="ngForm" (ngSubmit)="loginUser(formDonnee)">
        <ion-list>
            <ion-item>
                <ion-label>Nom utilisateur</ion-label>
                <ion-input type="mail" placeholder="username" name="username" ngModel></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label color="">Mot de passe</ion-label>
                <ion-input color="#OcObOb" type="password" ngModel placeholder="Mot de passe" name="password"></ion-input>
            </ion-item>
        </ion-list>


        <ion-item lines="none">
            <ion-button color="light" slot="end" fill="clear" routerLink="/oublie-de-mot-de-passe">Mot de passe oublié ?</ion-button>
        </ion-item>

        <ion-button color="blue" expand="block" shape="round" type="submit" fill="outline">Connexion</ion-button>
        <br>
        <ion-button color="" expand="block" shape="round" routerLink="/register">Inscription</ion-button>
    </form>
</ion-content>